In [ ]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [6]:
a="hi my name is anonymous"
print(f"a 값 : {a}, capitalize() :{a.capitalize()}")
print(f"a 값 : {a}, title() :{a.title()}")
print(f"a 값 : {a}, upper() :{a.upper()}")

a 값 : hi my name is anonymous, capitalize() :Hi my name is anonymous
a 값 : hi my name is anonymous, title() :Hi My Name Is Anonymous
a 값 : hi my name is anonymous, upper() :HI MY NAME IS ANONYMOUS

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [16]:
a="HI MY NAME IS ANONYMOUS"
a.lower()
b="hI mY nAME iS aNONYMOUS"
b.swapcase()

'Hi My Name Is Anonymous'

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [29]:
#String인자로만 이뤄진 iterable 객체를 인자로 사용할 수 있다.
" ".join("abc")
" ".join({'c':'1','d':'2','e':'3'})

'c d e'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [30]:
"wooooooooooooooooooooooooooooooooooooooooooooow".replace("o","a",5)

'waaaaaoooooooooooooooooooooooooooooooooooooooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [56]:
#???? 글씨 공백을 다 지우고 특정 문자도 같이 찾아서 지우는건가??

left = " !                                     !         왼쪽 공백을 다 지워주세요~"
right = "오른쪽 공백을 다 지워주세요                                  "
left.strip("!!")
left.strip(" !~ ")

'왼쪽 공백을 다 지워주세요'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [47]:
text = "apple"
text.find("e")

4

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [50]:
text="apple"

text.index("a")
text.index("b")

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [57]:

sp = "이것은 스플릿 입니다."
sp.split()

['이것은', '스플릿', '입니다.']

# ---------------------------------------------------------------------------------------------------------
# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [83]:
caffe=['st','tmt','tmp']
caffe.append("starbucks")
print(caffe)

['st', 'tmt', 'tmp', 'starbucks']

In [84]:
caffe[len(caffe):]=['ediya']
print(caffe)

['st', 'tmt', 'tmp', 'starbucks', 'ediya']

# 리스트 메소드

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [118]:
# extend 는 iterale 를 하나하나 뜯어서 붙이는 역할
print(caffe)
my_coffe="카페"
caffe.extend(my_coffe)

['st', 'tmt', 'tmp', 'starbucks', 'ediya', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페']

# 리스트 메소드

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [175]:
caffe.insert(0,"first")
print(caffe)

['first', 'st', 'tmt', 'tmp', 'starbucks', 'ediya', '페', '페', '페', '페', '페', '페', '페', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페']

In [180]:
caffe.insert(len(caffe),"마지막인데요")

In [188]:
caffe.insert(len(caffe)+500,"그래도 마지막인데요 크핡핡핡")

# 리스트 메소드

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [189]:
caffe.remove("카")
print(caffe)

['first', 'st', 'tmt', 'tmp', 'starbucks', 'ediya', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '마지막인데요', '페', '마지막인데요', '마지막인데요', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡', '그래도 마지막인데요 크핡핡핡']

# 리스트 메소드

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [208]:
caffe.pop()
print(caffe)

['first', 'st', 'tmt', 'tmp', 'starbucks', 'ediya', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카', '페', '카']

In [243]:
st="abcdefg"
st=list(st)
st.pop()
print(st)

['a', 'b', 'c', 'd', 'e', 'f']

In [242]:
st.pop()
print(st)

IndexError: pop from empty list

# 리스트 메소드

## 탐색 및 정렬

# 리스트 메소드

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [277]:
a=[1,2,3,4,5,1,2,3]
a.index(1)

0

# 리스트 메소드

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [279]:
a.count(3)

2

In [281]:
a=[1,2,3,1,2,3,4]
b=[1,2,3,1,2,3,4]
target = 3

for i in range(a.count(target)):
    a.remove(target)
print(a)

[1, 2, 1, 2, 4]

# 리스트 메소드

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [246]:
import random
numbers = range(1,46)
pick = random.sample(numbers,6)
print(pick)
print(pick.sort())
print(pick)

[43, 16, 4, 1, 45, 2]
None
[1, 2, 4, 16, 43, 45]

# 리스트 메소드

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [252]:
numbers=[5,20,23,39,41,42]
print(numbers.reverse())
print(numbers)

None
[42, 41, 39, 23, 20, 5]

# 리스트 메소드

## 복사

In [266]:
# 리스트 복사를 해봅시다.
original_list=[1,2,3,4,5]
copy_list = original_list

In [268]:
# b의 값을 바꾸고 a를 출력해봅시다.
print(original_list)
print(copy_list)
copy_list[-1]=99

[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99]

In [269]:
# 실제로 같은지 확인해봅시다
print(id(original_list))
print(id(copy_list))

1711054365064
1711054365064

In [276]:
# 숫자를 확인해봅시다.
a=100
b=a
b=200
print("a 는 :{} a 주소는 :{}".format(a,id(a)))
print("b 는 :{} b 주소는 :{}".format(b,id(b)))

a 는 :100 a 주소는 :1834776416
b 는 :200 b 주소는 :1834779616

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [286]:
# 복사 예시 
# 잘라서 각각 넣으면 새로운 주소 배정
a=[1,2,3]
b=a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [290]:
# 복사 예시2
# list() 반환값으로서 넣는것은 새로운 배열을 찾는것
a=[4,5,6]
b=list(a)
b[0]=1
print(a)

[4, 5, 6]

In [ ]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [293]:
# 얕은 복사 예시
import copy
a=[1,2,[1,2]]
b=a[:]
b[2][1]=5
print(a)

[1, 2, [1, 5]]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [291]:
# 깊은 복사 예시
import copy
a=[1,2,[1,2]]
b=copy.deepcopy(a)
b[2][1]=5
print(a)

[1, 2, [1, 2]]

In [1]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

NameError: name 'IFrame' is not defined

# 리스트 메소드

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [294]:
a=[1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,7]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [311]:
even_list=[x*2 for x in range(1,6)]
even_list

[2, 4, 6, 8, 10]

In [310]:
cubic_list=[x**3 for x in range(1,11)]
cubic_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [318]:
# 반복문을 활용
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair=[]
for girl in girls:
    for boy in boys:
        pair.append((boy,girl))
        
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [325]:
#  list comprehension 활용
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair=[]

pair=[(boy,girl) for girl in girls for boy in boys]

print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [345]:
# 반복문 활용
pita=[]
for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if z==(x**2+y**2)**0.5:
                pita.append((x,y,z))
pita
print(pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [349]:
# list comprehension 활용
a=[(a,b,c) for a in range(1,50) for b in range(a+1,50) for c in range(b+1,50) if c==(a**2+b**2)**0.5 ]
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [350]:
[(a,b) for a in range(1,50) if a>10 for b in range(1,50) if b<10]

[(11, 1),
 (11, 2),
 (11, 3),
 (11, 4),
 (11, 5),
 (11, 6),
 (11, 7),
 (11, 8),
 (11, 9),
 (12, 1),
 (12, 2),
 (12, 3),
 (12, 4),
 (12, 5),
 (12, 6),
 (12, 7),
 (12, 8),
 (12, 9),
 (13, 1),
 (13, 2),
 (13, 3),
 (13, 4),
 (13, 5),
 (13, 6),
 (13, 7),
 (13, 8),
 (13, 9),
 (14, 1),
 (14, 2),
 (14, 3),
 (14, 4),
 (14, 5),
 (14, 6),
 (14, 7),
 (14, 8),
 (14, 9),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 4),
 (15, 5),
 (15, 6),
 (15, 7),
 (15, 8),
 (15, 9),
 (16, 1),
 (16, 2),
 (16, 3),
 (16, 4),
 (16, 5),
 (16, 6),
 (16, 7),
 (16, 8),
 (16, 9),
 (17, 1),
 (17, 2),
 (17, 3),
 (17, 4),
 (17, 5),
 (17, 6),
 (17, 7),
 (17, 8),
 (17, 9),
 (18, 1),
 (18, 2),
 (18, 3),
 (18, 4),
 (18, 5),
 (18, 6),
 (18, 7),
 (18, 8),
 (18, 9),
 (19, 1),
 (19, 2),
 (19, 3),
 (19, 4),
 (19, 5),
 (19, 6),
 (19, 7),
 (19, 8),
 (19, 9),
 (20, 1),
 (20, 2),
 (20, 3),
 (20, 4),
 (20, 5),
 (20, 6),
 (20, 7),
 (20, 8),
 (20, 9),
 (21, 1),
 (21, 2),
 (21, 3),
 (21, 4),
 (21, 5),
 (21, 6),
 (21, 7),
 (21, 8),
 (21, 9),
 (22, 1),
 (22, 2),
 (22, 3),
 (22, 4),
 (22, 5),
 (22, 6),
 (22, 7),
 (22, 8),
 (22, 9),
 (23, 1),
 (23, 2),
 (23, 3),
 (23, 4),
 (23, 5),
 (23, 6),
 (23, 7),
 (23, 8),
 (23, 9),
 (24, 1),
 (24, 2),
 (24, 3),
 (24, 4),
 (24, 5),
 (24, 6),
 (24, 7),
 (24, 8),
 (24, 9),
 (25, 1),
 (25, 2),
 (25, 3),
 (25, 4),
 (25, 5),
 (25, 6),
 (25, 7),
 (25, 8),
 (25, 9),
 (26, 1),
 (26, 2),
 (26, 3),
 (26, 4),
 (26, 5),
 (26, 6),
 (26, 7),
 (26, 8),
 (26, 9),
 (27, 1),
 (27, 2),
 (27, 3),
 (27, 4),
 (27, 5),
 (27, 6),
 (27, 7),
 (27, 8),
 (27, 9),
 (28, 1),
 (28, 2),
 (28, 3),
 (28, 4),
 (28, 5),
 (28, 6),
 (28, 7),
 (28, 8),
 (28, 9),
 (29, 1),
 (29, 2),
 (29, 3),
 (29, 4),
 (29, 5),
 (29, 6),
 (29, 7),
 (29, 8),
 (29, 9),
 (30, 1),
 (30, 2),
 (30, 3),
 (30, 4),
 (30, 5),
 (30, 6),
 (30, 7),
 (30, 8),
 (30, 9),
 (31, 1),
 (31, 2),
 (31, 3),
 (31, 4),
 (31, 5),
 (31, 6),
 (31, 7),
 (31, 8),
 (31, 9),
 (32, 1),
 (32, 2),
 (32, 3),
 (32, 4),
 (32, 5),
 (32, 6),
 (32, 7),
 (32, 8),
 (32, 9),
 (33, 1),
 (33, 2),
 (33, 3),
 (33, 4),
 (33, 5),
 (33, 6),
 (33, 7),
 (33, 8),
 (33, 9),
 (34, 1),
 (34, 2),
 (34, 3),
 (34, 4),
 (34, 5),
 (34, 6),
 (34, 7),
 (34, 8),
 (34, 9),
 (35, 1),
 (35, 2),
 (35, 3),
 (35, 4),
 (35, 5),
 (35, 6),
 (35, 7),
 (35, 8),
 (35, 9),
 (36, 1),
 (36, 2),
 (36, 3),
 (36, 4),
 (36, 5),
 (36, 6),
 (36, 7),
 (36, 8),
 (36, 9),
 (37, 1),
 (37, 2),
 (37, 3),
 (37, 4),
 (37, 5),
 (37, 6),
 (37, 7),
 (37, 8),
 (37, 9),
 (38, 1),
 (38, 2),
 (38, 3),
 (38, 4),
 (38, 5),
 (38, 6),
 (38, 7),
 (38, 8),
 (38, 9),
 (39, 1),
 (39, 2),
 (39, 3),
 (39, 4),
 (39, 5),
 (39, 6),
 (39, 7),
 (39, 8),
 (39, 9),
 (40, 1),
 (40, 2),
 (40, 3),
 (40, 4),
 (40, 5),
 (40, 6),
 (40, 7),
 (40, 8),
 (40, 9),
 (41, 1),
 (41, 2),
 (41, 3),
 (41, 4),
 (41, 5),
 (41, 6),
 (41, 7),
 (41, 8),
 (41, 9),
 (42, 1),
 (42, 2),
 (42, 3),
 (42, 4),
 (42, 5),
 (42, 6),
 (42, 7),
 (42, 8),
 (42, 9),
 (43, 1),
 (43, 2),
 (43, 3),
 (43, 4),
 (43, 5),
 (43, 6),
 (43, 7),
 (43, 8),
 (43, 9),
 (44, 1),
 (44, 2),
 (44, 3),
 (44, 4),
 (44, 5),
 (44, 6),
 (44, 7),
 (44, 8),
 (44, 9),
 (45, 1),
 (45, 2),
 (45, 3),
 (45, 4),
 (45, 5),
 (45, 6),
 (45, 7),
 (45, 8),
 (45, 9),
 (46, 1),
 (46, 2),
 (46, 3),
 (46, 4),
 (46, 5),
 (46, 6),
 (46, 7),
 (46, 8),
 (46, 9),
 (47, 1),
 (47, 2),
 (47, 3),
 (47, 4),
 (47, 5),
 (47, 6),
 (47, 7),
 (47, 8),
 (47, 9),
 (48, 1),
 (48, 2),
 (48, 3),
 (48, 4),
 (48, 5),
 (48, 6),
 (48, 7),
 (48, 8),
 (48, 9),
 (49, 1),
 (49, 2),
 (49, 3),
 (49, 4),
 (49, 5),
 (49, 6),
 (49, 7),
 (49, 8),
 (49, 9)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [360]:
words = 'Life is too short, you need python!'
moum = "aeiou"

list_comprehension= [string for string in words if not string in moum]
print("".join(list_comprehension))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)